.parent-container {
    width: 85%;
    margin: auto;
}
.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
}

.menu-bar {
   position: absolute;
   right: 150px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto; 
    justify-content: space-around; 
    padding-top: 70px;
} 


h3 {
    font-size: 1em;
}

.container-2 button {
    width: 100%;
}

.container-2 img:hover {
    box-shadow: 0px 10px 50px rgba(36, 18, 139, 0.7);

}
